body{
    font-family: 'Poppins', sans-serif;
    color: rgb(105, 90, 90);
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    text-align: justify;
}
.orange-color{
    color: orange;
}
.order-food{
    background-image: linear-gradient(rgb(255, 166, 0), rgb(128, 47, 0));
    color: white;
    border-radius: 10%;
    padding: 10px 40px;
    text-decoration: none;
    margin-top: 40px;
    
}
.flex{
    background-color: rgba(237, 245, 125, 0.726);
    display: flex;
    margin-top: 100px;
    
}
.width-half{
    width: 50%;
    margin-top: 60px;
    margin-left: 30px;
   
}
.width-half img{
    width: 90%;
    margin-left: 20px;
    
    
}
#b-ground{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.recipie{
    display: flex;
 
    
    
}
